<h1><%= @team.name %></h1>
<h2><%= @team.motto %></h2>

<% @heroes.each do |hero| %>
  <div class="heroes">
    <h2><%= hero.name %></h2><br>
    <p><%= hero.power %></p><br>
    <p><%= hero.bio %></p><br>
  </div><br>
<% end %>